# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Data files
data/raw/
data/processed/

# Models
models/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Python packaging
*.egg-info/
dist/
build/
